# Directories created by setup script
/config/
/download/
/latex/
/my_images/
/templates_c/
/.webfolders/
/webfolders/

# Development files
/.idea/
/.sass-cache/
/.vs/
/tests/screenshots/
/tests/reports/
/vendor/
*.phar
*.DS_Store
.*.swp
.vimrc
cscope.out

# Runtime configuration
/log.txt
/php.ini
