sup { font-size: 70%; font-family: Verdana; }

.bold {
	font-weight: bold;
}

table.kalender {
	border-style: solid;
	border-color: #333;
	border-width: 1px;
}

.copyright {
	width: 100%;
	text-align: center;
	color: #666;
	border-top: 1px solid #333;
}
.copyright b {
	color: #666;
	font-weight: 900;
}
.copyright a, .copyright a:visited {
	color: black;
}

.filter_link_adv_ok {
	background: #9aea9a url('images/button_check.png') center right no-repeat;
}
.filter_link_adv_error {
	background: #ea9a9a url('images/button_delete.gif') center right no-repeat;
}
#adv_filter_link_help {
	float: right;
}

#login {
	height: 52px;
	float: left;
	padding: 0 0 0 18px;
}
#login td div {
	margin-right: 10px;
	padding: 0px;
	float: left;
}

#login input {
	border: 1px solid #3282be;
	color: black;
	background: white;
}

div.menu {
	padding: 0;
}

td.main_left {
	width: 140px;
	background-color: #fff;
	vertical-align: top;
}

td.main_right {
	width: 140px;
	vertical-align: top;
	text-align: right;
}

td.submenu_header {
	width: 90%;
	text-align: center;
	font-weight: 900;
	padding: 0 2px 0 10px;
	color: white;
	background: #3282be url('images/diag_white_dark.gif') no-repeat left top;
	white-space: nowrap;
}

td.submenu {
	width: 100%;
	vertical-align: top;
	text-align: left;
	border: 1px solid #3282be;
	padding: 8px 2px;
}
td.submenu select {
	max-width: 160px;
}

td.subpart_header {
	width: 50%;
	text-align: center;
	font-weight: 900;
	padding: 0 2px 0 10px;
	color: white;
	background: #3282be url('images/diag_white_dark.gif') no-repeat left top;
}

td.subpart {
	width: 100%;
	vertical-align: top;
	text-align: left;
	border: 1px solid #3282be;
	padding: 8px 2px;
}

td.main {
	vertical-align: top;
	width: 90%;
}



.rota-event {
	border: 1px solid #aaa;
	margin: 8px 0 20px 0;
}
.rota-event-header {
	background-color: #e8e8e8;
	border-bottom: 3px solid #666;
	padding: 3px 4px;
	height: 16px;
}
.rota-week-header {
	background-color: #c8c8c8;
	border-bottom: 3px solid #666;
	padding: 3px 4px;
	height: 16px;
}
.rota-event-header-title {
	cursor: pointer;
	font-size: 14px;
}
.rota-event-kommentar {
	background-color: #f3f3f3;
	border-bottom: 1px solid #999;
	padding: 2px 3px;
	font-family: verdana;
	font-size: 10px;
}

table.rota-schedule th {
	padding: 5px 3px;
}
table.rota-schedule td {
	padding: 1px 3px;
}
.rota-stats-done {
	background-color: #229922;
	color: #fff;
	margin: -3px -8px;
	padding: 3px 8px;
}
.rota-stats-half {
	background-color: #f1a728;
	color: #fff;
	margin: -3px -8px;
	padding: 3px 8px;
}
.rota-stats-empty {
	background-color: #cc2222;
	color: #fff;
	margin: -3px -8px;
	padding: 3px 8px;
}
.rota-header img.jsdate-image {
	margin-top: -16px;
}
/**
 * rota consensus
 */
.rota-consensus-enries {
	border-left:1px solid darkgray;
}
.rota-consensus-entry-group {
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position: top left;
}
.rota-consensus:hover {
	cursor: pointer;
}
div#cke_consensus_description {
	max-width: 600px;
}
.no_answer {
	background:#fcfcfc;
}
.no {
	background:#ffcfcd;
}
.maybe {
	background:#ffeea6;
}
.yes {
	background:#d1f3d1;
}




th.ko_list_datafields {
	background: #9aea9a;
	text-align: center;
	font-weight: 100;
}

tr.ko_list_hidden {
	background-color: #dddde2;
	color: #999;
}
tr.ko_list_hidden a {
	color: #999;
}

div.list-help {
	float: left;
	padding-left: 5px;
}




table.fm_kalender {
	width: 100%;
	padding: 0;
	border: 1px solid #999999;
	text-align: center;
}

td.kalender_tag {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

td.kalender_space {
	border-right: 1px solid #999999;
}

td.kalender_tag_aktiv {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background: #9abdea;
	font-weight: 600;
}

td.kalender_header {
	border: 1px solid #999999;
	background-color: #bbbbcc;
}

td.kalender_weeks {
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	background-color: #dddddd;
}

td.kalender_woche_leer {
	border-bottom: 1px solid #999999;
}




td.block_header {
	background: #9abdea;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	padding-left: 10px;
}

td.block_content {
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	background: #e8e8e8;
	padding: 5px 0 5px 15px;
}



div.peoplesearchwrap {
	position: relative;
}
select.peoplesearchresult {
	display: none;
}
.peoplesearchresultentry.odd {
	background: #fff;
}
.peoplesearchresultentry.even {
	background: #e8e8e8;
}



td.news_header {
	background: #9abdea;
	font-weight: 900;
	padding: 0px 3px 0px 3px;
}

td.news_content {
	background: #e8e8e8;
	padding: 5px 3px 10px 3px;
}



input,select,option,textarea {
}



.notification_error, .errortxt {
	padding: 2px 5px;
	background: #ea9a9a;
	margin-bottom: 8px;
}
#ko_infobox_ERROR {
	background: #ea9a9a;
	padding: 10px;
}

.notification_warning, .warntxt {
	padding: 2px;
	background: rgba(203, 126, 7, 0.45);
}
#ko_infobox_INFO {
	background: rgba(203, 126, 7, 0.45);
	padding: 10px;
}

.notification_info, .infotxt {
	padding: 2px;
	background: #9aea9a;
}
#ko_infobox_INFO {
	background: #9aea9a;
	padding: 10px;
}


.form_grouptitel {
	font-weight: 900;
	font-size: 13px;
	display: block;
	padding-top: 15px;
	padding-bottom: 5px;
	cursor: pointer;
}

.plugins_installed {
	font-weight: 900;
}
.plugins_hidden {
	color: #999;
}


.install_select_lang {
	padding: 10px;
	margin: 20px;
	border: 1px solid #3282be;
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	color: #666;
	width: 100px;
	float: left;
}

.install_progress {
	padding: 10px;
	margin: 10px 0 10px 0;
	border: 1px solid #3282be;
	background: #ccc;
	font-size: 11px;
	font-weight: 500;
	width: 95%;
}


.single_view_title {
	font-size: 14px;
	font-weight: 900;
	padding: 5px 0px 5px 0px;
}
.single_view_subtitle {
	font-size: 12px;
	color: #666;
	font-weight: 900;
	padding-bottom: 10px;
}


table.donations-stats * {
	padding: 2px;
}

td.donations-stats-header {
	border-right: 1px solid #666;
	text-align: center;
}
td.donations-stats-account {
	border-bottom: 1px solid #666;
	cursor: pointer;
}
td.donations-stats-source {
	border-bottom: 1px solid #666;
}
td.donations-stats-source-num,
td.donations-stats-content-num {
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	text-align: right;
	background-color: #fff;
	font-style: italic;
}
td.donations-stats-source-amount,
td.donations-stats-content-amount {
	border-bottom: 1px solid #666;
	background-color: #fff;
	text-align: right;
	font-weight: 900;
}

td.donations-stats-source-amount {
	font-weight: normal;
}
tr.donation_account_source {
	display: none;
}



div.leute_chart {
	float: left;
	border: 1px solid #3282be;
	margin: 0 10px 10px 0;
	width: 47%;
	min-width: 430px;
	padding: 0px 4px 4px 4px;
	overflow: hidden;
}
div.leute_chart label {
	width: 100%;
	display: block;
	padding: 4px;
	margin: 0 -4px 0 -4px;
	background-color: #3282be;
	color: white;
	font-weight: 900;
	font-size: small;
	margin-bottom: 5px;
}


table.people-version {
	background: #eeeeff;
}
table.people-version td {
	border: none;
}






/* fullCalendar */


/* Edit icons in monthly view */





table.tracking th {
	text-align: left;
}

div.tracking-entry-type {
	clear: both;
}
.tracking-entry-status1 {
	background: #ea9a9a;
}

tr.tracking_all td {
	background: #bbb;
	border-bottom: 1px solid #333;
	padding: 3px 0;
	font-style: italic;
}

tr.tracking_preset td {
	background: #9fdda8;
	border-bottom: 1px solid #333;
	padding: 3px 0;
	font-style: italic;
}
img.tracking_default {
	cursor: pointer;
}



a.group-passed {
	color: #aaa;
}
a.group-passed:hover,
a.group-active {
	color: #000;
}



.cursor_pointer {
	cursor: pointer;
}



#ko_listh_filterbox {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #444;
	width: 190px;
	box-shadow: 2px 3px 5px 0px #666;
}
#ko_listh_filterbox h3 {
	margin: -10px -10px 5px -10px;
	padding: 3px 10px;
	background: #9abdea;
	font-weight: bold;
	font-size: 100%;
	font-style: normal;
}
#ko_listh_filterbox label {
	display: block;
	margin-top: 2px;
}
th.ko_listh_filter_act {
	background: #eaa59a;
}




div.gs_role_select {
	margin-bottom: 8px;
}




/* Tooltip */
#tt {
	position: absolute;
	display: block;
	background: url(images/tt_left.gif) top left no-repeat;
	z-index: 9999;
}
#tttop {
	display: block;
	height: 5px;
	margin-left: 5px;
	background: url(images/tt_top.gif) top right no-repeat;
	overflow: hidden;
}
#ttcont {
	display: block;
	padding: 2px 12px 3px 7px;
	margin-left: 5px;
	background: #3282be;
	color: #fff;
}
#ttbot {
	display: block;
	height: 5px;
	margin-left: 5px;
	background: url(images/tt_bottom.gif) top right no-repeat;
	overflow: hidden;
}

#tt p {
	margin: 0;
	padding: 0;
}
#tt p.title {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 8px;
}
#tt p.datetime {
	font-size: 90%;
	margin-bottom: 8px;
}
#tt p.comment {
	font-weight: bold;
	margin-bottom: 8px;
}
#tt p.room {
	font-size: 90%;
	margin-bottom: 8px;
}
#tt ul {
	margin: 2px 0;
	padding: 0 0 0 15px;
}
#tt li {
	margin: 0;
	padding: 0;
}
#tt h1, #tt h2, #tt h3 {
	font-size: 120%;
	font-weight: bold;
	margin: 8px 0;
}
#tt p.res_title {
	margin: 15px 0 0 0;
}
#tt div.event_res {
	font-size: 90%;
}



div.calendar table {
	width: 226px;
}
.calendar thead .title {
	background: transparent !important;
	color: #000 !important;
}



span.kota-listview-color {
	padding: 1px 3px;
}





/* ------------- Clearfix ------------- */

div.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
div.clearfix {
	display: inline-block;
	font-size: 0;
	line-height: 0;
}
/* Hides from IE-mac */
* html div.clearfix {height: 1%;}
div.clearfix {display: block; font-size: 0; line-height: 0;}
/* End hide from IE-mac */






/* ----------- Leute Etiketten Export ----------- */

label.address_line_label {
	width: 160px;
	float:left;
	display:block;
	margin-top: 5px;
}

div.empty_address_line {
	position: relative;
	height: 0px;
}

div.empty_address_line img.show_button {
	position: absolute;
	top:-7px;
	left:-30px;
	cursor: pointer;
}

div.empty_address_line img.hide_button {
	position: absolute;
	top:3px;
	left:-30px;
	display:none;
	cursor: pointer;
}

div.empty_address_line input, div.empty_address_line select {
	display:none;
}

div.empty_address_line input {
	width:150px;
}



select#searchbox_taxonomy:required:invalid {
	color: #999;
}
select#searchbox_taxonomy:required:invalid option {
	color: #555;
}


@media screen and (max-width: 768px) {
  h3.ko_list_title > .pagestats .btn-group {
    display: none;
  }
  h3.ko_list_title > .pagestats .btn-group.itemlist-box {
    display: block;
  }
}
