.doubleselect,
.dynselect,
.groupselect,
.sel-peoplefilter,
.groupfilter,
.ko-select {
    max-width:100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    border-radius: @border-radius-base;
    border: 1px solid #ccc;
    font-size: 0.9em;
    height: 7 * @double-select-item-height + 2px;
    background-color: white;

    &[size="1"] {
        height: @double-select-item-height + 2px;
    }
    &[size="2"] {
        height: 2 * @double-select-item-height + 2px;
    }
    &[size="3"] {
        height: 3 * @double-select-item-height + 2px;
    }
    &[size="4"] {
        height: 4 * @double-select-item-height + 2px;
    }
    &[size="5"] {
        height: 5 * @double-select-item-height + 2px;
    }
    &[size="6"] {
        height: 6 * @double-select-item-height + 2px;
    }
    &[size="7"] {
        height: 7 * @double-select-item-height + 2px;
    }
    &[size="8"] {
        height: 8 * @double-select-item-height + 2px;
    }
    &[size="9"] {
        height: 9 * @double-select-item-height + 2px;
    }
    &[size="10"] {
        height: 10 * @double-select-item-height + 2px;
    }
    &[size="11"] {
        height: 11 * @double-select-item-height + 2px;
    }
    &[size="12"] {
        height: 12 * @double-select-item-height + 2px;
    }
    &[size="13"] {
        height: 13 * @double-select-item-height + 2px;
    }
    &[size="14"] {
        height: 14 * @double-select-item-height + 2px;
    }

    .select-item {
        background-color: white;
        color: #222;
        padding: 2px 3px;
        cursor: pointer;
        height: @double-select-item-height;
        word-break: break-all;
        overflow: hidden;
        display: block;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -lhtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.active {
            background-color: #222;
            color: white;
        }
    }

    &[disabled] {
        cursor: @cursor-disabled;
        background-color: @input-bg-disabled;
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655

        .select-item {
            background-color: @input-bg-disabled;
            cursor: @cursor-disabled;
            color: #222;

            &.active {
                background-color: @input-bg-disabled;
                cursor: @cursor-disabled;
                color: #222;
            }
        }
    }
}

.doubleselect_container {
    .doubleselect_filter_field {
        margin-bottom: 10px;
        height: 25px;
        font-size: 11px;
        padding: 3px 6px;
    }
    .selected {
        color: #868783;
        cursor: inherit;
    }
}

.multidateselect .bootstrap-datetimepicker-widget {
    table th {
        height: 10px;
        line-height: 10px;
        width: 10px;
    }
    table td.day {
        height: 10px;
        line-height: 10px;
        width: 10px;
    }
}