{if $input.type == "text"}
	<input type="{if $input.html_type}{$input.html_type}{else}text{/if}" class="input-sm form-control {$input.add_class}" name="{$input.name}" value="{$input.value}" {$input.params} {if $tpl_isInline}placeholder="{$input.desc}"{/if} />


{elseif $input.type == "password"}
	<input type="password" class="input-sm form-control {$input.add_class}" name="{$input.name}" value="{$input.value}" {$input.params} />


{elseif $input.type == "text_mylist"}
	<div class="input-group input-group-sm">
		<input type="text" class="input-sm form-control {$input.add_class}" name="{$input.name}" value="{$input.value}" {$input.params} />
		&nbsp;
		<button type="button" alt="import_my_list" title="{$label_text_mylist_import}" border="0" onclick="javascript:document.getElementsByName('{$input.name}')[0].value += ',{$input.mylist}';return false;"><span class="glyphicon glyphicon-import"></span></button>
	</div>


{elseif $input.type == "textarea"}
	<textarea name="{$input.name}" class="input-sm form-control {$input.add_class}" {$input.params} {if $tpl_isInline}placeholder="{$input.desc}"{/if}>{$input.value}</textarea>


{elseif $input.type == "richtexteditor"}
	<textarea name="{$input.name}" class="richtexteditor {$input.add_class}" {$input.params}>{$input.value}</textarea>


{elseif $input.type == "file"}
	<input type="file" name="{$input.name}" class="{$input.add_class}" {$input.params}>
	{if $input.special_value}<br />{$input.special_value}{/if}
	{if $input.value != '' && $input.value != ' '}<br /><a href="/{$input.value}?m={$input.mtime}" target="_blank">{$input.value}</a>{/if}
	{if $input.value2}<br /><input type="checkbox" name="{$input.name2}" value="1" class="{$input.add_class}">{$input.value2}{/if}


{elseif $input.type == "color"}
	<input type="text" name="{$input.name}" class="input-sm form-control {$input.add_class}" value="{$input.value}" {$input.params}>

	<script>
      $('input[name="{$input.name}"]').minicolors({ldelim}theme: 'bootstrap'{rdelim});
    </script>

{elseif $input.type == "days_range"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}

	{assign var="avalues" value=","|explode:$input.avalues}

	<input type="hidden" name="{$input.name}" id="{$id}" value="{","|implode:$avalues}">
	<ol class="btn-group daysrange" id="{$id}_list" data-toggle="buttons">
		{foreach from=$input.descs item=descs key=key}
			<li
			id="{$id}_{$key}"
			class="ui-widget-content btn btn-default {if !in_array($key, $input.activated_days)}disabled{/if} {if in_array($key, $avalues)} btn-primary{/if} rota-tooltip {if $input.absences[$key]}absence{/if} {if $input.css_highlight[$key]}{$input.css_highlight[$key]}{/if}"
			{if $input.tooltips[$key]} data-tooltip-code="{$input.tooltips[$key]}"{/if}"
			{if !in_array($key, $input.activated_days) || $input.status == "disabled"} disabled {/if}
			data-status="{if in_array($key, $avalues)}scheduled{else}open{/if}"
			data-day="{$key}">
				{$descs}
			</li>
		{/foreach}
	</ol>
	{if $input.status != "disabled"}
	<script>
		$("#{$id}_list").selectable({ldelim}
			stop: function(event, ui){ldelim}
				var selected = [];
				$(".ui-selected", this).each(function() {ldelim} selected.push($(this).data("day")); {rdelim});

				$(selected).each(function() {ldelim}
					if($("#{$id}_" + this.toString()).hasClass('disabled')) return true;
					var status = $("#{$id}_" + this.toString()).data("status");
					if(status === "scheduled") {ldelim}
						$("#{$id}_" + this.toString()).data("status", "open");
					{rdelim} else if (status === "open") {ldelim}
						$("#{$id}_" + this.toString()).data("status", "scheduled");
					{rdelim}

					$("#{$id}_" + this.toString()).toggleClass("btn-primary").removeClass("ui-selected").removeClass("ui-selectee");
				{rdelim});

				var selected_days = [];
				$("#{$id}_list li").each(function() {ldelim}
					if($(this).data("status") === "scheduled") {ldelim}
						selected_days.push($(this).data("day"));
					{rdelim}
				{rdelim});

				$('input[id="{$id}"]').val(selected_days.join(",")).trigger('change');
			{rdelim},
    	{rdelim});
	</script>
	{/if}


{elseif $input.type == "datepicker" || $input.type == "jsdate"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}
	{if $input.picker_mode}
		{assign var="picker_mode" value=$input.picker_mode}
	{else}
		{assign var="picker_mode" value="date"}
	{/if}
	<div class="input-group input-group-sm if-noblur datetimepicker" id="{$id}-input-group" data-picker-mode="{$picker_mode}">
		<span id="{$id}-addon" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		<input type="text" id="{$id}-input" name="{$input.name}" class="input-sm form-control {$input.add_class}" value="{$input.value}" data-id="{$id}" {$input.params} {if $tpl_isInline}placeholder="{$input.desc}"{/if}>
	</div>
	<script type="text/javascript">
		$('#{$id}-input-group').datetimepicker({ldelim}
			keyBinds: {ldelim}
				'left': null,
				'right': null,
				'delete': null,
				'enter': null,
				'escape': null
			{rdelim},
			locale: kOOL.language,
			format: '{if $picker_mode == 'datetime'}DD.MM.YYYY HH:mm{else}DD.MM.YYYY{/if}',
			showTodayButton: true,
			useCurrent: false{if $input.additional_options},
			{$input.additional_options}{/if}{if $input.viewDate},
			viewDate: '{$input.viewDate}'{/if}
		{rdelim});

		$('#{$id}-input-group').on('dp.change', function(e){ldelim}
			var $input = $('#{$id}-input');
			var oldValue = $input.data('dp-old-val');
			if (typeof(oldValue) == 'undefined' || $input.val() != oldValue) {ldelim}
				$input.data('dp-old-val', $input.val());
				$input.trigger('dp.change', []);
			{rdelim}

			{if $input.sibling}
				datePickerStart = $('#{$id}-input-group').data("DateTimePicker");
				datePickerEnd = $('#{$input.sibling}-input-group').data("DateTimePicker");

				if (datePickerStart.date() != null && datePickerEnd.date() == null) {ldelim}
					datePickerEnd.viewDate(datePickerStart.date());
				{rdelim}
			{/if}
		{rdelim});
		$('#{$id}-input').on('keyup');
		$('#{$id}-input').on('keydown');
	</script>


{elseif $input.type == "label"}
	{$input.value}


{elseif $input.type == "checkbox"}
	<div class="checkbox">
		<label for="{$input.name}">
			<input type="checkbox" id="{$input.name}" class="{$input.add_class}" name="{$input.name}" value="{$input.value}" {$input.params}>
			{$input.desc2}
		</label>
	</div>


{elseif $input.type == 'switch'}
	<input type="checkbox" class="switch {$input.add_class}" name="{$input.name}" data-size="small" data-off-text="{if $input.label_0}{$input.label_0}{else}{ll key="no"}{/if}" data-on-text="{if $input.label_1}{$input.label_1}{else}{ll key="yes"}{/if}" {$input.params} value="1"{if $input.value == '1'} checked{/if}>{$input.desc2}

    <script>
    	$('input[name="{$input.name}"]').bootstrapSwitch();
    </script>


{elseif $input.type == "radio"}
	{html_radios name=$input.name values=$input.values output=$input.descs selected=$input.value separator=$input.separator class="`$input.add_class`"}

{elseif $input.type == "select_slider"}
	{if !$input.html_id} {uid loc="id"} {else} {assign var="id" value=$input.html_id} {/if}

	<div class="access_slider">
		{if $input.label}
		<div class="col-md-4 col-sm-4">
			<label for="{$id}">
				{$input.label}
			</label>
		</div>
		{/if}
		<div class="col-md-8 col-sm-8">
			<input id="{$id}" type="text"/>
		</div>
	</div>

	<input type="hidden" id="sel_recht_{$id}" name="{$input.name}" value="{$input.value}" />
	<script>
		$(function() {ldelim}
			$('#{$id}').bootstrapSlider({ldelim}
			id: 'slider{$id}',
			min: 0,
			max: {$input.maxLevel},
			step: 1,
			focus: true,
			value: '{$input.value}',
			ticks: [{', '|implode:$input.values}],
			ticks_labels: [{', '|implode:$input.values}],
				{rdelim}
			)
				.on('slideStop', function(element) {ldelim}
					{if $input.name|substr:-2 == "_0"}
						$("#sel_recht_{$id}").val(element.value).trigger('change');
					{else}
						var all_field = $(this).closest(".module").find('.panel-body').find("input[name^='sel_rechte'][name$='_0']");
						if (all_field.length === 0) {ldelim}
							$("#sel_recht_{$id}").val(element.value).trigger('change');
							return false;
						{rdelim}

						var all_slider = $(all_field).attr("id");
						all_slider = "#slider" + all_slider.substring(10);

						if(element.value < all_field.val()) {ldelim}
							$(all_slider).addClass("level_error").delay(3000).queue(function(next){ldelim}
								$(this).removeClass("level_error");
								next();
							{rdelim});
							$(this).bootstrapSlider("setValue", all_field.val());
						{rdelim} else {ldelim}
							$("#sel_recht_{$id}").val(element.value).trigger('change');
						{rdelim}
					{/if}
				{rdelim});
			{rdelim});
	</script>



{elseif $input.type == "select"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}
	{if $input.buttons}
		<div class="input-group input-group-sm">
	{/if}
	{if $input.multiple}
		<div class="ko-select-wrapper">
			<input type="hidden" name="{$input.name}" value="{$input.value}" class="{$input.add_class}">
			<div class="dynselect" name="sel1-{$input.name}" id="{$id}" data-hidden-name="{$input.name}" class="{$input.add_class}" data-js-func-add="{$input.js_func_add}" {if $input.js_func_before_change}data-js-func-before-change="{$input.js_func_before_change}" {/if}{$input.params} data-select="single">
				{foreach from=$input.values item=v key=k}
					<div class="select-item{if $v == $input.value} active{/if}{if $v === '_DISABLED_'} disabled{/if}" data-value="{$v}" title="{if $input.descs.$k}{$input.descs.$k}{else}{$input.descs.$v}{/if}">
						{if $input.descs.$k}{$input.descs.$k}{else}{$input.descs.$v}{/if}
					</div>
				{/foreach}
			</div>
		</div>
	{else}
		<select name="{$input.name}{if $input.overwrite}_original{/if}" class="input-sm form-control {$input.add_class}" {$input.params} {if $input.js_func_add}onclick="{$input.js_func_add}(this.options[parseInt(this.selectedIndex)].text, this.options[parseInt(this.selectedIndex)].value, this.name);"{/if}
		{if $input.overwrite_value} disabled='disabled' {/if} >
			{foreach from=$input.values item=v key=k}
				<option value="{$v}" {if $v == $input.value}selected="selected"{/if} {if $v === '_DISABLED_'}disabled{/if}>
					{if $input.descs.$k}{$input.descs.$k}{else}{$input.descs.$v}{/if}
				</option>
			{/foreach}
		</select>
	{/if}
	{if $input.buttons}
		{$input.buttons}
		</div>
	{/if}
	{if $input.overwrite}
		<div>
			<input type="text" id="{$id}_overwrite" name="{$input.overwrite_name}" class="input-sm form-control {$input.add_class}" value="{$input.overwrite_value}">
			<input type="hidden" name="{$input.name}" value="{$input.value}">
		</div>
		<script>
			$('#{$id}_overwrite, select[name="{$input.name}_original"]').on('change', function(e){ldelim}
				if ($('#{$id}_overwrite').val() != '') {ldelim}
					$('select[name="{$input.name}_original"]').prop('disabled', 'disabled');
					$('input[name="{$input.name}"]').val($('#{$id}_overwrite').val());
				{rdelim} else {ldelim}
					$('select[name="{$input.name}_original"]').prop('disabled', false);
					$('input[name="{$input.name}"]').val($('select[name="{$input.name}_original"]').val());
				{rdelim}
			{rdelim});
	   	</script>
	{/if}

{elseif $input.type == "selectplus"}
	<div class="textplus-wrapper">
		{if !$input.html_id}
			{uid loc="id"}
		{else}
			{assign var="id" value=$input.html_id}
		{/if}
		{assign var="valueKey" value=-1}
		<div class="input-group input-group-sm">
				<select id="{$id}" name="{$input.name}{if $input.overwrite}_original{/if}"
				class="input-sm form-control {$input.add_class}" {$input.params}
				{if $input.js_func_add}onclick="{$input.js_func_add}(this.options[parseInt(this.selectedIndex)].text, this.options[parseInt(this.selectedIndex)].value, this.name);"{/if}
					{if $input.overwrite_value} disabled='disabled' {/if} >
					{foreach from=$input.values item=v key=k}
						<option value="{$v}" {if $v == $input.value}selected="selected"{/if} {if $v === '_DISABLED_'}disabled{/if}>
							{$input.descs.$k}
						</option>
					{/foreach}
				</select>
			{if $input.async_form.tag}
				<div class="input-group-btn">
					<button type="button" title="{ll key="kota_async_form_label_ko_leute_add"}" class="btn btn-success btn-sm" id="{$id}-async-form-1-btn" data-target="#{$id}-async-form-1" data-af-entry-id="0" data-af-table="{$input.async_form.table}" data-af-mode="new">
						<i class="fa fa-plus" style="line-height:1.5;"></i>
					</button>
					<script>
						$("#{$id}-async-form-1-btn").asyncform({ldelim}tag: '{$input.async_form.tag}'{rdelim});
						$("#{$id}-async-form-1-btn").on('asyncform.response', function(event, r) {ldelim}
							var node = r.actions.{$input.async_form.table}.insert.entries[r.actions.{$input.async_form.table}.insert.ids[0]];
							$('#{$id}').append('<option value="'+node.id+'">'+node.title+'</option>');
							$('#{$id}').val(node.id);
						{rdelim});
					</script>
				</div>
			{/if}
		</div>
	</div>

{elseif $input.type == "multidateselect"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}
	<table class="ko-select-wrapper multidateselect">
		<tr>
			<td valign="top">
				<input type="hidden" name="{$input.name}" value="{$input.avalue}">
				<input type="hidden" name="old_{$input.name}" value="{$input.avalue}">
				<div style="font-size:x-small;">{$label_form_ds_objects}:</div>
				<div id="{$id}-input-group" style="position:relative;width:180px;">
					<input type="text" name="fake_input_{$input.name}" id="fake_input_{$id}" class="input-sm form-control {$input.add_class}" value="{$input.avalue}" style="visibility:hidden; display: none;width:1px;padding:0px;margin:0px;">
				</div>
			</td>
			<td valign="top">
				<div style="font-size:x-small;">&nbsp;</div>
				<button type="button" class="btn btn-default icon-btn" alt="del" title="{$label_doubleselect_remove}" onclick="double_select_move('{$input.name}', 'del');"><i class="fa fa-remove"></i></button>
			</td>
			<td class="v-align-t" style="width:50%; min-width:80px;">
				<div style="font-size:x-small;">{$label_form_ds_assigned}:</div>
				<div class="doubleselect doubleselect-right" id="{$id}" name="sel_ds2_{$input.name}" {$input.params}>
					{foreach from=$input.avalues item=v key=k}
						<div class="select-item" data-value="{$v}" title="{$input.adescs.$k}">{$input.adescs.$k}</div>
					{/foreach}
				</div>
			</td>
		</tr>
	</table>
	<script>
		$('#fake_input_{$id}').datetimepicker({ldelim}
			locale: kOOL.language,
			format: 'YYYY-MM-DD',
			showTodayButton: false,
			useCurrent: false,
			inline: true,
		{rdelim});
		$('#{$id}-btn').click(function() {ldelim}
			$('#fake_input_{$id}').data('DateTimePicker').toggle();
		{rdelim});
		$('#fake_input_{$id}').datetimepicker().on('dp.change', function(e) {ldelim}
			double_select_add($('#fake_input_{$id}').val(), $('#fake_input_{$id}').val(), 'sel_ds2_{$input.name}', '{$input.name}');
			$('#fake_input_{$id}').val('');
		{rdelim});
	</script>


{elseif $input.type == "doubleselect"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}
	<table class="ko-select-wrapper doubleselect_container">
		<tr>
			{if !$input.disabled}
			<td class="v-align-t" style="width:50%;">
				<input type="hidden" class="{$input.add_class}" name="{$input.name}" value="{$input.avalue}">
				<input type="hidden" name="old_{$input.name}" value="{$input.avalue}">
				<div style="font-size:x-small;">{$label_form_ds_objects}:</div>
                {if $input.show_filter}
					<input type="text" class="form-control doubleselect_filter_field" data-parent="sel_ds1_{$input.name}" placeholder="{ll key='general_search_placeholder'}"/>
                {/if}
				<div class="doubleselect doubleselect-left" id="sel_ds1_{$input.name}" name="sel_ds1_{$input.name}" data-js-func-add="{$input.js_func_add}" data-target-name="sel_ds2_{$input.name}" data-hidden-name="{$input.name}" {$input.params} {if $input.show_filter && $input.size.for_filter}size="{$input.size.for_filter}"{/if}>
					{foreach from=$input.values item=v key=k}
						<div class="select-item" data-value="{$v}" title="{if $input.titles.$k}{$input.titles.$k}{else}{$input.descs.$k}{/if}">{$input.descs.$k}</div>
					{/foreach}
				</div>
			</td>
			<td class="v-align-t btn-column" style="width:1%;">
				<div style="font-size:x-small;">&nbsp;</div>
				<div class="btn-group-vertical">
				{if $input.show_moves}
					<button type="button" class="btn btn-xs btn-default" alt="top" title="{$label_form_ds_top}" onclick="double_select_move('{$input.name}', 'top');">
						<i class="fa fa-angle-double-up"></i>
					</button>
					<button type="button" class="btn btn-xs btn-default" alt="up" title="{$label_form_ds_up}" onclick="double_select_move('{$input.name}', 'up');">
						<i class="fa fa-angle-up"></i>
					</button>
					<button type="button" class="btn btn-xs btn-default" alt="down" title="{$label_form_ds_down}" onclick="double_select_move('{$input.name}', 'down');">
						<i class="fa fa-angle-down"></i>
					</button>
					<button type="button" class="btn btn-xs btn-default" alt="bottom" title="{$label_form_ds_bottom}" onclick="double_select_move('{$input.name}', 'bottom');">
						<i class="fa fa-angle-double-down"></i>
					</button>
					<button type="button" class="btn btn-xs btn-danger" alt="del" title="{$label_form_ds_del}" onclick="double_select_move('{$input.name}', 'del');">
						<i class="fa fa-remove"></i>
					</button>
				{else}
					<button type="button" class="btn btn-xs btn-danger" alt="del" title="{$label_doubleselect_remove}" onclick="double_select_move('{$input.name}', 'del');">
						<i class="fa fa-remove"></i>
					</button>
				{/if}
				</div>
			</td>
			{/if}
			<td class="v-align-t" style="width:50%;">
				<div style="font-size:x-small;">{$label_form_ds_assigned}:</div>
				<div class="doubleselect doubleselect-right" id="{$id}" name="sel_ds2_{$input.name}" {$input.params}{if $input.disabled} disabled{/if}  {if $input.size.normal}size="{$input.size.normal}"{/if}>
					{foreach from=$input.avalues item=v key=k}
						<div class="select-item" data-value="{$v}" title="{$input.adescs.$k}">{$input.adescs.$k}</div>
					{/foreach}
				</div>
			</td>
		</tr>
	</table>


{elseif $input.type == "groupselect"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}
	<table class="ko-select-wrapper">
		<tr>
			<td class="v-align-t" style="width:35%;">
				<input type="hidden" class="groupselectvalues" name="{$input.name}" value="{$input.avalue}" />
				<input type="hidden" name="old_{$input.name}" value="{$input.avalue}" />
				<div style="font-size:x-small;">{ll key="groups_group"}:</div>
				<div class="groupselect groupselect-left" name="sel_ds0_{$input.name}" {$input.params} size="10" data-js-func-add="fill_grouproles_select" style="border-top-right-radius:0px;border-bottom-right-radius:0px;border-right:0px;"></div>
			</td>
			<td class="v-align-t" style="width:30%;">
				<div style="font-size:x-small;">{ll key="groups_role"}:</div>
				<div class="groupselect doubleselect-left" name="sel_ds1_{$input.name}" {$input.params} size="10" data-js-func-add="double_select_add" data-target-name="sel_ds2_{$input.name}" data-hidden-name="{$input.name}" data-js-after-add="{$input.onclick_2_add}" style="border-top-left-radius:0px;border-bottom-left-radius:0px;"></div>
			</td>
			<td class="v-align-t btn-column" style="width:1%;">
				<div style="font-size:x-small;">&nbsp;</div>
				<button type="button" class="btn btn-xs btn-danger" alt="del" title="{$label_doubleselect_remove}" onclick="{if $input.allow_assign}double_select_move('{$input.name}', 'del');{$input.onclick_del_add}{/if}">
					<i class="fa fa-remove"></i>
				</button>
			</td>
			<td class="v-align-t" style="width:35%;">
				<div style="font-size:x-small;">{ll key="groups_assigned"}:</div>
				<div class="doubleselect doubleselect-right" id="{$id}" name="sel_ds2_{$input.name}" {$input.params} size="10">
					{foreach from=$input.avalues item=v key=k}
						<div class="select-item" data-value="{$v}" title="{$input.adescs.$k}">{$input.adescs.$k}</div>
					{/foreach}
				</div>
			</td>
		</tr>
	</table>


{elseif $input.type == "checkboxes"}
	{assign var="height" value=$input.size*22+2}
	<div class="koi-checkboxes-container" {$input.params} style="height: {$height}px;">
		<input type="hidden" class="koi-checkboxes-separator" value="{if $input.separator}{$input.separator}{else},{/if}">
		<input type="hidden" class="koi-checkboxes-value {$input.add_class}" name="{$input.name}" value="{$input.avalue}">
		<input type="hidden" name="old_{$input.name}" value="{$input.avalue}">
		{foreach from=$input.values item=v key=k}
			{uid loc="id"}
			{if in_array($v,$input.avalues)}
				{assign var="checked" value='checked="checked"'}
				{assign var="class" value="koi-checkboxes-checked"}
			{else}
				{assign var="checked" value=''}
				{assign var="class" value=""}
			{/if}
			<div class="koi-checkboxes-entry {$class}">
				<label for="chk_{$input.name}_entry_{$id}">
					<input type="checkbox" id="chk_{$input.name}_entry_{$id}" name="chk_{$input.name}" value="{$v}" {$checked} />
					{$input.descs.$k}
				</label>
			</div>
		{/foreach}
	</div>


{elseif $input.type == "textplus"}
	<div class="textplus-wrapper">
		{if !$input.html_id}
			{uid loc="id"}
		{else}
			{assign var="id" value=$input.html_id}
		{/if}
		{assign var="valueKey" value=-1}
		{if $input.descs}
		<div class="input-group input-group-sm">
				{/if}
				{if $input.descs}
					<div class="input-group-btn">
						<button type="button" id="{$id}-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{ll key="selection"} <span class="caret"></span>
						</button>
						<ul id="{$id}-dropdown" class="dropdown-menu dropdown-menu textplus-list" role="menu">
							{foreach from=$input.values item=v key=k}
								{if $v==$input.value}
									{assign var="valueKey" value=$k}
								{/if}
								{if $input.descs.$k}
									<li><a href="#">{$input.descs.$k}</a></li>
								{/if}
							{/foreach}
						</ul>
					</div>
				{/if}
			{if $valueKey < 0 && $input.value}
				{assign var="inputValue" value=$input.value}
			{else}
				{assign var="inputValue" value=$input.descs.$valueKey}
			{/if}
				<input type="text" class="input-sm form-control textplus-display {$input.add_class}" id="{$id}-input" list="{$id}-textplus-list" name="{$input.name}" value="{$inputValue}" {$input.params} {if $tpl_isInline}placeholder="{$input.desc}"{/if}>
				<datalist id="{$id}-textplus-list">
					{foreach from=$input.values item=v key=k}
						{if $v==$input.value}
							{assign var="valueKey" value=$k}
						{/if}
						{if $input.descs.$k}
							<option>{$input.descs.$k}</option>
						{/if}
					{/foreach}
				</datalist>
			{if $input.descs}
		</div>
		{/if}
	</div>



{elseif $input.type == "textmultiplus"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}
	<table class="ko-select-wrapper">
		<tr>
			<td class="v-align-t" style="width:50%;">
				<input type="hidden" class="{$input.add_class}" name="{$input.name}" value="{$input.avalue}">
				<input type="hidden" name="old_{$input.name}" value="{$input.avalue}">
				<div style="font-size:x-small;">{$label_form_ds_objects}:</div>
				{assign var="size0" value=$input.size-1}
				<div class="doubleselect doubleselect-left" style="border-bottom:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" id="sel_ds1_{$input.name}" size="{$size0}" name="sel_ds1_{$input.name}" data-js-func-add="{$input.js_func_add}" data-target-name="sel_ds2_{$input.name}" data-hidden-name="{$input.name}" {$input.params}>
					{foreach from=$input.values item=v key=k}
						<div class="select-item" data-value="{$v}" title="{$input.descs.$k}">{$input.descs.$k}</div>
					{/foreach}
				</div>
				<input class="input-sm form-control textmultiplus-new" style="border-top-left-radius:0px;border-top-right-radius:0px;height:18px;" type="text" name="new_{$input.name}" placeholder="{ll key='textmultiplus_placeholder'}">
			</td>
			<td class="v-align-t btn-column" style="width:1%;">
				<div style="font-size:x-small;">&nbsp;</div>
				<div class="btn-group-vertical">
					{if $input.show_moves}
						<button type="button" class="btn btn-xs btn-default" alt="top" title="{$label_form_ds_top}" onclick="double_select_move('{$input.name}', 'top');">
							<i class="fa fa-angle-double-up"></i>
						</button>
						<button type="button" class="btn btn-xs btn-default" alt="up" title="{$label_form_ds_up}" onclick="double_select_move('{$input.name}', 'up');">
							<i class="fa fa-angle-up"></i>
						</button>
						<button type="button" class="btn btn-xs btn-default" alt="down" title="{$label_form_ds_down}" onclick="double_select_move('{$input.name}', 'down');">
							<i class="fa fa-angle-down"></i>
						</button>
						<button type="button" class="btn btn-xs btn-default" alt="bottom" title="{$label_form_ds_bottom}" onclick="double_select_move('{$input.name}', 'bottom');">
							<i class="fa fa-angle-double-down"></i>
						</button>
						<button type="button" class="btn btn-xs btn-danger" alt="del" title="{$label_form_ds_del}" onclick="double_select_move('{$input.name}', 'del');">
							<i class="fa fa-remove"></i>
						</button>
					{else}
						<button type="button" class="btn btn-xs btn-danger" alt="del" title="{$label_doubleselect_remove}" onclick="double_select_move('{$input.name}', 'del');">
							<i class="fa fa-remove"></i>
						</button>
					{/if}
				</div>
			</td>
			<td class="v-align-t" style="width:50%;">
				<div style="font-size:x-small;">{$label_form_ds_assigned}:</div>
				<div class="doubleselect doubleselect-right" id="{$input.id}" name="sel_ds2_{$input.name}" {$input.params}>
					{foreach from=$input.avalues item=v key=k}
						<div class="select-item" data-value="{$v}" title="{$input.sdescs.$k}">{$input.adescs.$k}</div>
					{/foreach}
				</div>
			</td>
		</tr>
	</table>

{elseif $input.type == "dyndoubleselect"}
	{if !$input.html_id}
		{uid loc="id"}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}
	<table class="ko-select-wrapper">
		<tr>
			<td class="v-align-t" style="width:50%;">
				<input type="hidden" class="{$input.add_class}" name="{$input.name}" value="{$input.avalue}">
				<input type="hidden" name="old_{$input.name}" value="{$input.avalue}">
				<div style="font-size:x-small;">{$label_form_ds_objects}:</div>
				<div class="dyndoubleselect ko-select" id="sel_ds1_{$input.name}" name="sel_ds1_{$input.name}" data-target-name="sel_ds2_{$input.name}" data-hidden-name="{$input.name}" data-nocheck-list="{if $input.nochecklist}1{else}0{/if}" {$input.params}>
				</div>
			</td>
			<td class="v-align-t">
				<div style="font-size:x-small;">&nbsp;</div>
				<button type="button" class="btn btn-xs btn-danger" alt="del" title="{$label_doubleselect_remove}" onclick="double_select_move('{$input.name}', 'del');">
					<i class="fa fa-remove"></i>
				</button>
			</td>
			<td class="v-align-t" style="width:50%;">
				<div style="font-size:x-small;">{$label_form_ds_assigned}:</div>
				<div class="doubleselect doubleselect-right" id="{$id}" name="sel_ds2_{$input.name}" {$input.params}>
					{foreach from=$input.avalues item=v key=k}
						<div class="select-item" data-value="{$v}" title="{$input.adescs.$k}">{$input.adescs.$k}</div>
					{/foreach}
				</div>
			</td>
		</tr>
	</table>


{elseif $input.type == "peoplesearch"}
	{if !$input.html_id}
		{assign var="id" value=$input.name}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}

	<table width="100%">
		<tr>
			<td valign="top">
				<input type="hidden" class="{$input.add_class}" name="{$input.name}" id="{$id}">
			</td>
			{if $input.show_add}
			<td width="1%" valign="top">
				<button type="button" title="{ll key="kota_async_form_label_ko_leute_add"}" class="btn btn-success btn-sm" id="{$id}-async-form-1-btn" data-target="#{$id}-async-form-1" data-af-entry-id="0" data-af-table="ko_leute" data-af-mode="new">
					<i class="fa fa-plus" style="line-height:1.5;"></i>
				</button>
			</td>
			{/if}
		</tr>
	</table>

	<script>
		$('#{$id}').peoplesearch({ldelim}
			multiple: {if $input.single}false{else}true{/if}{if $input.data},
			selectedPeople: {$input.data}{elseif $input.avalues},
			avalues: {$input.avalues|@json_encode},
			astatus: {$input.astatus|@json_encode},
			adescs: {utf8_encode_array arr=$input.adescs var="encArray"}{$encArray|@json_encode}{/if}{if $input.exclude},
			exclude: '{$input.exclude}'{/if}{if $input.exclude_sql},
			excludeSql: '{$input.exclude_sql}'{/if}{if $input.disabled},
			disabled: true{/if}
		{rdelim});
		{if $input.show_add}
			$("#{$id}-async-form-1-btn").asyncform({ldelim}tag: '{$input.async_form_tag}'{rdelim});
			$("#{$id}-async-form-1-btn").on('asyncform.response', function(event, r) {ldelim}
				var person = r.actions.ko_leute.insert.entries[r.actions.ko_leute.insert.ids[0]];
				var descParts = [];
				if (person.firm) descParts.push(person.firm);
				if (person.department) descParts.push('('+person.department+')');
				descParts.push(person.vorname);
				descParts.push(person.nachname);
				var titleParts = [];
				if (person.firm) titleParts.push(person.firm);
				titleParts.push(person.vorname);
				titleParts.push(person.nachname);
				if (person.adresse) titleParts.push(" - " + person.adresse);
				if (person.plz) titleParts.push(person.plz);
				if (person.ort) titleParts.push(person.ort);
				titleParts.push("("+person.id+")");
				$('#{$id}').peoplesearch('add', {ldelim}
					id: person.id,
					name: descParts.join(" "),
					title: titleParts.join(" ")
				{rdelim});
			{rdelim});
		{/if}
	</script>


{elseif $input.type == "groupsearch"}
	{if !$input.html_id}
		{assign var="id" value=$input.name}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}

	<table width="100%">
		<tr>
			<td valign="top">
				<input type="hidden" class="{$input.add_class}" name="{$input.name}" id="{$id}" {if $input.disallowPlaceholder}data-disallowplaceholder="true"{/if}>
			</td>
			{if $input.show_add}
				<td width="1%" valign="top">
					<button type="button" title="{ll key="kota_async_form_label_ko_groups_add"}" class="btn btn-success btn-sm" id="{$id}-async-form-1-btn" data-target="#{$id}-async-form-1" data-af-entry-id="0" data-af-table="ko_groups" data-af-mode="new">
						<i class="fa fa-plus" style="line-height:1.5;"></i>
					</button>
				</td>
			{/if}
		</tr>
	</table>
	<script>
		$('#{$id}').groupsearch({ldelim}
			multiple: {if $input.single}false{else}true{/if}{if $input.data},
			selectedGroups: {$input.data}{elseif $input.avalues},
			avalues: {if $input.avalues}{$input.avalues|@json_encode}{/if}{if $input.avalue},
			avalue: {$input.avalue}{/if},
			adescs: {utf8_encode_array arr=$input.adescs var="encArray"}{$encArray|@json_encode}{/if}{if $input.exclude},
			exclude: '{$input.exclude}'{/if}{if $input.exclude_sql},
			excludeSql: '{$input.exclude_sql}'{/if}{if $input.include_roles},
			includeRoles: true{/if}{if $input.show_removal_warning === FALSE},
			showRemovalWarning: false{/if}
		{rdelim});
		{if $input.show_add}
			$("#{$id}-async-form-1-btn").asyncform();
			$("#{$id}-async-form-1-btn").on('asyncform.response', function(event, r) {ldelim}
				var gr = r.actions.ko_groups.insert.entries[r.actions.ko_groups.insert.ids[0]];
				var desc = gr.name;
				var title = gr.name;
				$('#{$id}').groupsearch('add', {ldelim}
					id: "g"+gr.id,
					name: desc,
					title: title
				{rdelim});
			{rdelim});
		{/if}
	</script>


{elseif $input.type == "dynamicsearch"}
	{if !$input.html_id}
		{assign var="id" value=$input.name}
	{else}
		{assign var="id" value=$input.html_id}
	{/if}

	<table style="width: 100%;">
		<tr>
			<td valign="top">
				<input type="hidden" class="{$input.add_class}" name="{$input.name}" id="{$id}">
			</td>
			{if $input.show_add}
				<td width="1%" valign="top">
					<button type="button" title="{ll key="kota_async_form_label_ko_rotas_add"}" class="btn btn-success btn-sm" id="{$id}-async-form-1-btn" data-target="#{$id}-async-form-1" data-af-entry-id="0" data-af-table="ko_rotas" data-af-mode="new">
						<i class="fa fa-plus" style="line-height:1.5;"></i>
					</button>
				</td>
			{/if}
		</tr>
	</table>
	<script type="text/javascript">
		$('#{$id}').dynamicsearch({ldelim}
			multiple: {if $input.single}false{else}true{/if}{if $input.data},
			selectedData: {utf8_encode_array arr=$input.data var="encArray"}{$encArray|@json_encode}{/if}{if $input.avalues},
			avalues: {utf8_encode_array arr=$input.avalues var="encArray"}{$encArray|@json_encode}{/if}{if $input.avalue},
			avalue: {utf8_encode_array arr=$input.avalue var="encArray"}{$encArray|@json_encode}{/if}{if $input.adescs},
			adescs: {utf8_encode_array arr=$input.adescs var="encArray"}{$encArray|@json_encode}{/if}{if $input.node_id},
			node_id: '{$input.node_id}'{/if}{if $input.module},
			module: '{$input.module}'{/if}{if $input.exclude},
			exclude: '{$input.exclude}'{/if}{if $input.show_removal_warning === FALSE},
			showRemovalWarning: false{/if}{if $input.allowParentselect === TRUE},
			allowParentselect: true{/if},
			ajaxHandler: {utf8_encode_array arr=$input.ajaxHandler var="encArray"}{$encArray|@json_encode}
		{rdelim});
		{if $input.show_add}
			$("#{$id}-async-form-1-btn").asyncform();
			$("#{$id}-async-form-1-btn").on('asyncform.response', function(event, r) {ldelim}
				var gr = r.actions.ko_rota.insert.entries[r.actions.ko_rota.insert.ids[0]];
				var desc = gr.name;
				var title = gr.name;
				$('#{$id}').rotasearch('add', {ldelim}
					id: "g"+gr.id,
					name: desc,
					title: title
				{rdelim});
			{rdelim});
		{/if}

		{if $tpl_isInline}
			$('input[name="{$input.name}"]').on('change', function() {ldelim}
				fullid = $(this).parents(".inlineform").attr("id").slice(3);
				inlineform_submit($(this), fullid, true);
			{rdelim});

			$('.dynamicsearch-input').on('blur',  function() {ldelim}
				var blurredElem = $(this);
				setTimeout(function() {ldelim}
					fullid = blurredElem.parents(".inlineform").attr("id").slice(3);
					sendReq("../inc/ajax.php", "action,id,module,sesid", "inlineformblur,"+fullid+","+kOOL.module+","+kOOL.sid, inlineform_show);
				{rdelim}, 600);
			{rdelim});
		{/if}

	</script>


{elseif $input.type == "peoplefilter"}
	<table class="ko-select-wrapper">
		<tr>
			<td class="v-align-t">
				<input type="hidden" class="{$input.add_class} peoplefilter-value" name="{$input.name}" value="{$input.avalue}">
				<input type="hidden" name="old_{$input.name}" value="{$input.avalue}">
				<div style="font-size:x-small;">{ll key="form_peoplefilter_filter"}:</div>

				<div class="doubleselect sel-peoplefilter" name="peoplefilter_type_{$input.name}" {$input.params} size="{$input.size}">
					<div class="select-item" data-value=""></div>
					{foreach from=$input.filters item=v key=k}
						<div class="select-item" data-value="{$k}" title="{$v}">{$v}</div>
					{/foreach}
				</div>

				<div id="peoplefilter_vars_{$input.name}" name="peoplefilter_vars_{$input.name}"></div>
				<button type="button" class="btn btn-sm btn-primary peoplefilter-submit" name="submit_peoplefilter_{$input.name}" value="{ll key='filter_add'}">
					{ll key='filter_add'}
				</button>
			</td>
			<td class="btn-column v-align-t">
				<div style="font-size:x-small;">&nbsp;</div>
				<button type="button" class="btn btn-xs btn-danger" alt="del" title="{$label_doubleselect_remove}" onclick="double_select_move('{$input.name}', 'del');">
					<i class="fa fa-remove"></i>
				</button>
			</td>
			<td class="v-align-t">
				<div style="font-size:x-small;">{$label_form_ds_assigned}:</div>
				<div class="doubleselect doubleselect-right peoplefilter-act" name="sel_ds2_{$input.name}" {$input.params} size="{$input.size}">
					{foreach from=$input.avalues item=v key=k}
						<div class="select-item" data-value="{$v}" title="{$input.adescs.$k}">{$input.adescs.$k}</div>
					{/foreach}
				</div>
			</td>
		</tr>
	</table>


{elseif $input.type == "foreign_table"}
	{if $ft_preset_table != null}
	<script>
		<!--
		if (window.kota_ft_alert_no_join_value === undefined) {ldelim}
			window.kota_ft_alert_no_join_value = {ldelim}{rdelim};
			{rdelim}
		window.kota_ft_alert_no_join_value['{$ft_field}'] = '{$ft_alert_no_join_value}';
		//-->
	</script>
	{/if}

	<div class="btn-group btn-group-sm">
	{if $ft_show_new_btn}
	<button type="button" class="btn btn-sm btn-success form_ft_new" data-field="{$ft_field}" data-after="0" data-pid="{$ft_pid}">
		<i class="fa fa-plus"></i>&nbsp;{$label_form_ft_new}
	</button>
	{/if}
		{if $ft_show_sort_btn}
	<button class="btn btn-sm btn-default form_ft_sort" data-field="{$ft_field}" data-pid="{$ft_pid}" data-preset-table="{$ft_preset_table}" title="{$ft_sort_btn_title}">
		<i class="fa fa-sort"></i>&nbsp;{ll key="form_ft_button_sort"}
	</button>
		{/if}
	{if $ft_preset_table != null}
			<button class="btn btn-sm btn-default form_ft_load_preset" data-field="{$ft_field}" data-after="0" data-pid="{$ft_pid}" data-preset-table="{$ft_preset_table}" data-preset-join-value-local="{$ft_preset_join_value_local}" data-preset-join-column-foreign="{$ft_preset_join_column_foreign}">
				<span class="glyphicon glyphicon-open"></span>&nbsp;{ll key="form_ft_button_load_presets"}
			</button>
	{/if}
	</div>
	<div id="ft_content_{$ft_field}" name="ft_content_{$ft_field}" style="margin-top:5px;">{$ft_content}</div>


{elseif $input.type == "html"}
	{$input.value}

{elseif $input.type == "hidden"}
	<input type="hidden" class="{$input.add_class}" name="{$input.name}" value="{$input.ovalue}" />
	{$input.value}

{elseif $input.type == "   "}
	<br />

{/if}
